/*
Theme Name: Stilo Floral
Theme URI:
Author: TechWeb team
Author URI: http://techwebgt.com
Description: Stilo floral website
Version: 1.0.0
Tags: white
Text Domain: stilofloral
*/


/* # reset */
*, *:after, *:before {
  box-sizing: border-box;

}
html, body, h1, h2, h3, h4, h5, h6, ul, li, figure, .row {
  margin: 0;
  padding: 0;
}
figure img {
  width: 100%;
  height: 100%;
}
figure {
  padding: 0 !important;
  margin: 0 !important;
}
a, a:hover {
  text-decoration: none;
  color: #575756;
  
}
body {
  font-size: 18px;
  font-family: Tahoma;
  font-family: Arial;
}
nav ul, .no-list {
  list-style: none;
}

header {
  position: absolute;
}

/* Theme */
/* # Theme */
.row {
  margin-left: 0;
  margin-right: 0;
}
.t-bold {
  font-weight: bold;
}
.t-white { color: #ffffff;}
.t-black { color: #000000;}
.t-blue { color: #0046ab;}
.t-red { color: #ce0202}
.t-pink {color: #ED55A6}
.t-gris{color:#575756}
.t-black__hover:hover { color: #000000;}
.t-white__hover:hover { color: #ffffff;}
.t__blue-hover:hover { color: #1fb5be;}
.t__green-hover:hover { color: #68DC8D;}

.b-white { background-color: #ffffff;}
.b-transparent {background-color: transparent;}
.b-black { background-color: #000000;}
.b-blue { background-color: #0046ab;}
.b-red {background-color :#bb000c; }
.b-pink {background-color: #ED55A6; }
.b-principal {
  background: rgb(104,220,141);
  background: -moz-linear-gradient(left, rgba(104,220,141,1) 0%, rgba(104,220,141,1) 26%, rgba(31,181,190,1) 100%);
  background: -webkit-linear-gradient(left, rgba(104,220,141,1) 0%,rgba(104,220,141,1) 26%,rgba(31,181,190,1) 100%);
  background: linear-gradient(to right, rgba(104,220,141,1) 0%,rgba(104,220,141,1) 26%,rgba(31,181,190,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68dc8d', endColorstr='#1fb5be',GradientType=1 );
}
.b-gray { background-color: #a0a0a0; }

.b__white-hover:hover { background-color: #ffffff;}
.b__black-hover:hover { background-color: #000000;}
.b__blue-hover:hover { background-color: #1fb5be;}
.b__green-hover:hover { background-color: #68DC8D;}
.b__pink-hover:hover { background-color: #ED55A6;}
.t-right { text-align: right; }
.t-center { text-align: center; }
.e-center {
  margin-left: auto;
  margin-right: auto;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 70%;
}
.w-50 {
  width: 50%;
}
.j-center {
  justify-content: center;
}
.j-end {
  justify-content: flex-end;
}
.a-center {
  align-items: center;
}
.a-end {
  align-items: flex-end;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.title {
  font-weight: bold;
  font-size: 3rem;
}
.border-none {
  border: none;
}
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.p-relative {
  position: relative;
}

/* tabla */

/*** Table Styles **/

.view table {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  table-layout: auto;
}

.view th {
  color:#D5DDE5;;
  background:#0046ab;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-weight: 100;
  padding:24px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.view th:first-child {
  border-top-left-radius:3px;
}

.view th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

.view tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.view tr:hover td {
  background:#1c4074;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

.view tr:first-child {
  border-top:none;
}

.view tr:last-child {
  border-bottom:none;
}

.view tr:nth-child(odd) td {
  background:#EBEBEB;
}

.view tr:nth-child(odd):hover td {
  background:#1c4074;
}

.view tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

.view tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

.view td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.view td:last-child {
  border-right: 0px;
}


.view table {
  font-size: .8em;
}

.view tfoot {
  display: none;
}

/* pagina principal */
.container-fluid {
  padding: 0px;
}
div.clean {
  padding: 0px;
}

div.fondo_blue_transparente {
  background-color: rgba(0,70,171,0.5);
  height:150px;
}

a.boton_blanco_redondeado {
  border-radius: 171px 171px 171px 171px;
  -moz-border-radius: 171px 171px 171px 171px;
  -webkit-border-radius: 171px 171px 171px 171px;
  border: 0px none #000000;
  background-color: #ffffff;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.75rem;
}

.caja_azul, .caja_roja {
  text-align: center;
  padding: 65px;
}
.caja_azul {
  background-color: #0046ab;
  transform: translateY(-10%);
}
.caja_roja {
  background-color: #bb000c;
  transform: translateY(-17%);
}


/* menu */
.menu-item a:hover {
    /* border-bottom: 3px solid white; */
    background-color:  #ED55A6;
}

.menu-item a.active {
    background-color:  #ED55A6;
}
.col-ajustable {
  text-align: right;
  padding-left:100px;
}
.row_servicios {
  background-color:#ffffff;
  height:240px;
}

/* formulario */
.formulario_envio li{
  margin-top: 0px !important;
  padding: 0px !important;
  padding-right: 8px !important;
  padding-left: 10px !important;
}
.formulario_envio label {
  font-weight: 1000 !important;
  font-size: 0.8rem !important;
  color: #0046ab;
}

.formulario_envio input, .formulario_envio textarea{
  border: 0px;
  background-color: #7890c8;
  width: 100% !important;
  font-size: 0.8rem !important;
  /* color:white; */
  border-radius: 3px;
}
.formulario_envio .ginput_container, .formulario_envio .gfield_label {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.formulario_envio textarea {
  height: 80px !important;
}
.formulario_envio select {
  border: 2px solid #0046ab;
  font: inherit;
}
.formulario_envio .gform_footer{
  padding-right: 8px !important;
  padding-left: 10px !important;
}

.formulario_envio span.gfield_required{
  color:#0046ab !important;
}

.formulario_envio input[type="submit"] {
  background-color: #e9e6e6;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1.5rem ;
  font-weight: 1000;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.formulario_envio input[type="submit"]:hover {
  background-color: #0046ab;
}


/* formulario contacto*/
.formulario_contacto li{
  margin-top: 5px !important;
  padding: 5px !important;
  /* padding-right: 8px !important;
  padding-left: 10px !important; */
}
.formulario_contacto label {
  font-size: 1rem !important;
  color: #575756;
  width: 100%;
  text-align: left;
}

.formulario_contacto input, .formulario_contacto textarea{
  width: 100% !important;
  font-size: 0.9rem !important;
  border: none;
  color:white;
  border-radius: 5px;
  padding: 0.6rem 0.5rem;
  background-color: #ED55A6;
}
.formulario_contacto .ginput_container, .formulario_contacto .gfield_label {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  text-align: center;
}
.formulario_contacto textarea {
  height: 80px !important;
}
.formulario_contacto select {
  border: 2px solid #e50051;
  font: inherit;
}
.formulario_contacto .gform_footer{
  padding-right: 8px !important;
  padding-left: 10px !important;
}

.formulario_contacto span.gfield_required{
  color:#e50051 !important;
}

.formulario_contacto input[type="submit"] {
  background-color: #ED55A6;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1.5rem ;
  font-weight: 1000;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: auto !important;
  float: right;
  text-transform: uppercase;
  font-weight: normal;
}
.formulario_contacto input[type="submit"]:hover {
  background-color: #b60946;
}

.formulario_contacto{
  padding:2rem;
}
.consultas input {
  width:80%;
  border: none;
  border-radius: .25rem;
  padding: 0.5rem;
}
.consultas input::placeholder {
  color: #aeaeae;
}

footer{
  font-family: "Montserrat",sans-serif;
}